<div class="w-50 border border-secondary border-1 p-3 m-auto">
  <h4 class="p-3 mb-2 bg-secondary text-white">
    Project : <%= project.name %>
  </h4>
  <h4 class="p-3 mb-2">
    Author : <%= project.author %>
  </h4>
  <h5 class="p-3 mb-2">
    Description : <%= project.description %>
  </h5>
</div>
<%-include('./partials/_issues'); %>
